@import "tailwindcss";

@config "../tailwind.config.js";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  @font-face {
    font-family: NunitoSans;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Nunito_Sans/NunitoSans-Regular.ttf) format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: NunitoSans;
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/Nunito_Sans/NunitoSans-Italic.ttf) format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: NunitoSans;
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Nunito_Sans/NunitoSans-Bold.ttf) format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: NunitoSans;
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf) format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: NunitoSans;
    font-weight: 800;
    font-style: normal;
    src: url(/fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf) format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: NunitoSans;
    font-weight: 900;
    font-style: normal;
    src: url(/fonts/Nunito_Sans/NunitoSans-Black.ttf) format("truetype");
    font-display: swap;
  }
  html {
    @apply bg-white;
    @apply dark:bg-black;
  }
  html,
  body {
    @apply text-base;
    @apply text-black;
    @apply dark:text-white;
    @apply leading-normal;
    @apply font-NunFont;
  }
  @media (width >= theme(--breakpoint-sm)) {
    html,
    body {
      @apply text-xl;
    }
  }
  h1 {
    @apply text-5xl;
    @apply tracking-wide;
    @apply mb-4;
    @apply font-black;
    @apply uppercase;
  }
  h2 {
    @apply text-2xl;
    @apply tracking-wide;
    @apply font-extrabold;
  }
  h3,
  label {
    @apply text-lg;
    @apply tracking-wide;
    @apply uppercase;
    @apply font-extrabold;
  }
  p {
    @apply text-base;
    @apply mb-5;
  }
  p a {
    @apply font-bold;
    @apply text-purple;
  }
  p a:hover {
    @apply text-blue;
  }
  header nav a {
    @apply font-extrabold;
    @apply tracking-wide;
    @apply uppercase;
    @apply dark:text-white;
    @apply transition-all;
  }
  header nav a:hover {
    @apply text-blue;
  }
  header nav a.active {
    @apply text-purple;
  }
  button {
    @apply rounded-md;
    @apply border-2;
    @apply border-transparent;
    @apply py-2;
    @apply px-8;
    @apply cursor-pointer;
    @apply bg-white-muted;
    @apply dark:bg-black-muted;
    @apply transition-all;
    @apply font-bold;
  }
  button:hover {
    @apply border-purple;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  code {
    @apply rounded-md;
    @apply bg-white-muted;
    @apply dark:bg-black-muted;
    @apply px-2;
    @apply py-1;
  }
  ul,
  ol {
    @apply ml-5;
    @apply mb-5;
    @apply text-base;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
}
